name: "BWT Perla Smartmeter (VNC OCR MQTT)"
slug: "bwt_perla_smartmeter"
version: "0.2.0"
arch: [aarch64, armv7, amd64]
startup: services
boot: auto
options:
  bwt_ipaddress: "192.168.178.50"
  bwt_password: ""
  mqtt_address: "homeassistant.local"
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_password: ""
  mqtt_topic_throughput: "home/wasser/durchfluss"
  mqtt_topic_volume: "home/wasser/volumen"
  mqtt_topic_status: "home/wasser/status"
  interval_seconds: 10
schema:
  bwt_ipaddress: str
  bwt_password: password
  mqtt_address: str
  mqtt_port: port
  mqtt_user: str
  mqtt_password: password
  mqtt_topic_throughput: str
  mqtt_topic_volume: str
  mqtt_topic_status: str
  interval_seconds: int(1,)
map: [data:rw]
