name: "BWT Perla Smartmeter (VNC OCR Native)"
slug: "bwt_perla_smartmeter"
description: "Liest BWT Perla Werte via VNC+OCR und erstellt native Home Assistant Sensoren."
version: "1.0.0"
url: "https://github.com/ThoSchGer/HA_Addon_BWT_PerlaHome"

arch:
  - aarch64
  - armv7
  - amd64

startup: services
boot: auto
init: false
hassio_api: true
hassio_role: default

options:
  bwt_ipaddress: "192.168.178.50"
  bwt_password: ""
  interval_seconds: 10
  vnc_timeout_seconds: 60
  vnc_connect_delay: 2
  throughput_region: "60,70,80,25"
  throughput_pattern: "(.*)\\|*./h"
  volume_region: "70,150,60,24"
  volume_pattern: "(.*)\\|*."
  entity_prefix: "bwt_perla"
  throughput_entity_id: ""
  volume_entity_id: ""
  tesseract_config: '-c page_separator=""'
  debug_screenshots: true

schema:
  bwt_ipaddress: str
  bwt_password: password
  interval_seconds: int(1,)
  vnc_timeout_seconds: int(5,)
  vnc_connect_delay: int(1,)
  throughput_region: str
  throughput_pattern: str
  volume_region: str
  volume_pattern: str
  entity_prefix: str
  throughput_entity_id: str?
  volume_entity_id: str?
  tesseract_config: str
  debug_screenshots: bool

map:
  - data:rw
